<h1>წიგნების ძებნა</h1>

<!--div style="width: 300px; float: right; background-color: yellow; padding: 5px; border: 1px solid orange;">
<p style="margin: 0px;">
ძებნისას გამოიყენეთ სიმბოლოები <b>?</b> და <b>%</b>, შესაბამისად,
ერთი ან რამოდენიმე უცნობი სიმბოლოს აღსანიშნავად.
</p>
</div-->

<%= form_tag request.url, :method => 'get' do -%>
<fieldset style="border: none;">
<div>
   <label style="display: inline-block; width: 200px; text-align: right;">დასახელება:</label>
	<%= text_field :search, :name %>
</div>
<div>
	<label style="display: inline-block; width: 200px; text-align: right;">დირექცია/ნომენკლატურა:</label>
	<%= collection_select 'search', 'direqcia_id', Direqcia.all(:order => :code), :id, :code, {:include_blank => true} %>
	<%= collection_select 'search', 'nomenclature_id', Nomenclature.all(:include => :direqcia, :order => 'direqcias.code, nomenclatures.code'), :id, :to_s, {:include_blank => true} %>
</div>
<div>
	<label style="display: inline-block; width: 200px; text-align: right;">წელი</label>
	<%= text_field :search, :book_year %>
</div>
<div>
	<label style="display: inline-block; width: 200px; text-align: right;">წელი (შემოსვლის)</label>
	<%= text_field :search, :enter_year %>
</div>
<div>
	<label style="display: inline-block; width: 200px; text-align: right;">ვინ შემოიტანა?</label>
	<%= text_field :search, :book_presenter %>
</div>
<div style="margin-left: 125px;">
	<%= submit_tag "ძებნა" %>
</div>
</fieldset>
<% end -%>

<div style="border-top: 1px solid red; clear: both;">
<table width="100%">
<tr>
<td style="border: 1px solid purple; padding: 5px; background: #EEE;  vertical-align: top;">
<%= render :partial => 'books', :locals => {:books => @books} %>
</td>
<td style="border: 1px solid purple; padding: 5px; background: #EEE;  vertical-align: top;" width="400">
<%= render :partial => 'places', :locals => {:links => @links, :places => @places } %>
</td>
</tr>
</table>
</div>