<h1>დავალების სათაურის შეცვლა</h1>
<%= form_for(@task) do |f| -%>
<%= render :partial => 'general/errors', :locals => {:entity => @task} %>
  <p>
    <%= f.label :subject, 'სათაური' %><br />
    <%= f.text_field :subject, :size => 60 %>
  </p>
  <p>
    <%= f.submit 'სათაურის შეცვლა' %>
  </p>
<% end -%>

<%= link_to 'ნახვა', @task %>