<h1><%= @task.subject %></h1>

<%= form_tag do |f| %>
  <p>
    <label for="new_body">ჩაწერეთ აქ თქვენი შენიშვნა:</label><br/>
    <%= text_area_tag :new_body, params[:new_body], :size => '60x10' %>
  </p>
  <p>
  	<label for="close_task">დავალების დახურვა:</label>
  	<%= check_box_tag :close_task, params[:close_tag] %>
  </p>
  <p>
    <%= submit_tag 'შენიშვნის დამატება' %>
  </p>
<% end %>

<%= link_to 'ნახვა', @task %>