<div id="menu" style="border-bottom: 3px solid <%= ar_controller_color controller.controller_name %>;">
<%= link_to ar_draw_tab(controller, 'site'), :controller => 'site' %>
<%= link_to ar_draw_tab(controller, 'tasks'), :controller => 'tasks' %>
<%= link_to ar_draw_tab(controller, 'search'), :controller => 'search' %>
<%= link_to ar_draw_tab(controller, 'places'), :controller => 'places' %>
<%= link_to ar_draw_tab(controller, 'move'), :controller => 'move' %>
<%= link_to ar_draw_tab(controller, 'direqcias'), :controller => 'direqcias' %>
<%= link_to ar_draw_tab(controller, 'nomenclatures'), :controller => 'nomenclatures' %>
<%= link_to ar_draw_tab(controller, 'reports'), :controller => 'reports' %>
<%= link_to ar_draw_tab(controller, 'users'), :controller => 'users' %>
</div>