<%= form_for(@book) do |f| %>
  <%= render :partial => 'general/errors', :locals => {:entity => @book} %>

  <p>
    <%= f.label :name, 'სახელი' %><br />
    <%= f.text_field :name, :style => 'width: 400px;' %>
  </p>
  <p>
    <%= f.label :order_by, 'დალაგება' %><br />
    <%= f.text_field :order_by, :size => 4 %>
  </p>
  <p>
    <%= f.label :page_count, 'ფურცლების რაოდენობა' %><br />
    <%= f.text_field :page_count, :size => 4 %>
  </p>
  <p>
    <%= f.label :nomenclature, 'ნომენკლატურა' %><br />
    <%= f.collection_select(:nomenclature_id, Nomenclature.all(:include => :direqcia, :order => 'direqcias.code, nomenclatures.code'), :id, :to_s) %>
  </p>
  <p>
    <%= f.label :start_date2, 'საწყისი თარიღი' %><br />
    <%= f.text_field :start_date2, :class => 'datepicker' %>
  </p>
  <p>
    <%= f.label :end_date2, 'საბოლოო თარიღი' %><br />
    <%= f.text_field :end_date2, :class => 'datepicker' %>
  </p>
  <p>
    <%= f.label :book_presenter, 'ვინ ჩააბარა? (სახელი და გვარი, თანამდებობა)' %><br />
    <%= f.text_field :book_presenter, :style => 'width: 400px;' %>
  </p>
  <p>
    <%= f.submit 'შენახვა' %>
  </p>
<% end %>