<!-- გზა მიმდინარე ადგილმდებარეობამდე -->
<div id="location"><%= place_location(@parent) %></div>


<%= render :partial => 'nomenclatures' %>

<!-- places -->
<div class="content_withsidebar">
<%= render :partial => 'actions' %>
<div style="min-height: 300px;">
<% if @places.empty? and @books.empty? -%>
<p style="font-style: italic; color: gray;">სია ცარიელია</p>
<% else -%>
<% @places.each do |place| -%>
<div class="list_row">
<div class="list_action2">
<%= link_to 'შეცვლა', edit_place_path(place) %>
<%= link_to 'წაშლა', place, :confirm => 'დაადასტურეთ თაროს წაშლა.', :method => :delete %>
</div>
<div class="list_item2">
<%= image_tag '16x16/folder.png', :style => "vertical-align: middle;" %>
<%= link_to h(place.name), :parent_id => place.id %>
</div>
</div>
<% end -%>

<!-- books -->
<% if @books.any?
@books.each do |book| -%>
<div class="list_row">
<div class="list_action2">
<%= link_to 'შეცვლა', edit_book_path(book) %>
<%= link_to 'წაშლა', book, :confirm => 'დაადასტურეთ წიგნის წაშლა.', :method => :delete %>
<% if @active_nom -%>
<%= link_to "გადაყვანა #{@active_nom}-ში", {:controller => :places, 'action' => :change_nomenclature, 'parent_id' => @parent ? @parent.id : nil, 'id' => book.id} %>
<% end -%>
</div>
<div class="list_item2">
<%= image_tag '16x16/book.png', :style => "vertical-align: middle;" %>
[<%= book.order_by %>]
<b><%= book.nomenclature %></b>
<%= link_to h(book.name), book %>
</div>
</div>
<% end; end -%>
<% end -%>
</div>
<%= render :partial => 'actions' %>
</div>
